
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
}

/* le header */
header{
    width: 85%;
    margin: auto;
}

hr{
    height: 1px;
    border: 1px #fffcfc54 solid;
}

footer hr{
    display: none;
}

#logo1{
    position: relative;
    top: 15px;
    height: 0;
    line-height: 30px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#nave{
    display: none;
    font-size: 30;
}

#menu{
    display: none;
}
#close{
    display: none;
}
nav{
    width: 450px;
}
.ul2{
    position: absolute;
    background-color: #6b62629a;
    backdrop-filter: blur(10px);
    height: 50vh;
    width: 40vw;
    text-align: center;line-height: 60px;
    margin: 0;
    padding: 0;
    border-radius: 6px;
    top: 50px;
    right: 6px;
}
#ul2 a{
    font-size: 60px;
}
#ul1{
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
}
#ul1 a, #ul2 a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

/* le body */
body{
    background: #181717;
}

main{
    margin: 80px auto;
}

/* les images */
#section1 img{
    width: 350px;
    height: 525px;
}

/* les divs */
#header_div1{
    margin: auto;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

#sec1_div1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0%;
}
#sec1_div1 p{
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec1_div2{
    position: sticky;
    right: 12%;
}
#sec1_div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 80px auto;
}
#sec1_d1_1{
    width: 620px;
    height: 300px;
}

#sec2_div1{
    width: 50%;
}

#sec3_div1{
    width: 100%;
    font-size: 30px;
    float: right;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec3_div2{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sec4_div1{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec4_div2{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#sec4_div3{
    text-align: center;
    margin-top: 100px;
}

#div_footer{
    font-size: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#div_footer a{
    background-color: white;
    text-decoration: none;
    color: black;
    height: 60px;
    width: 60px;
    padding: 8px;
}

/* les sections */
#section1{
    color: #FFF;
    height: 80vh;
    width: 85%;
    margin: auto;
}
#section2{
    color: #FFF;
    width: 85%;
    margin: auto;
    height: 100vh;
}
#section3{
    color: #FFF;
    width: 85%;
    margin: auto;
    height: 80vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
#section4{
    color: #FFF;
    width: 85%;
    margin: auto;
    height: 100vh;
    margin-bottom: 150px;
}

/* les titres */
h1{
    font-size: 40px;
    margin: 0 0 1% 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#sec2_div1 h2{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#sec3_div1 h2{
    float: right;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#sec4_div3 h3{
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
#sec4_div1 h2{
    font-size: 30px; 
     margin: 10;
     font-family: "Poppins", sans-serif;
     font-weight: 600;
     font-style: normal; 
}

/* les paragraphes */
#sec1_div1_1 p{
    font-size: 20px;
    width: 70%;
    margin: 0 0 2% 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec1_div1 .sec1_p1{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sec2_div1 p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#sec4_div3 p{
    font-size: 20px;
    width: 37%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec4_div3 #s4_P2{
    font-size: 25px;
    width: 40%;
    margin: auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* les buttons */
#sec1_div1_1 button{
    color: #FFF;
    font-size: 20px;
    width: 190px;
    height: 54px;
    padding: 12px 16px;
    background-color: #a8a8a83f;
    border: 1px #F8F8F8 solid;
}

#sec4_div3 button{
    width: 350px;
    height: 62px;
    background-color: #a8a8a84d;
    color: #FFF;
    font-size: 20px;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec4_div1 button{
    font-size: 30px;
    color: #FFF;
    background-color: #ffffff34;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#sec4_div1 span{
    position: relative;
    top: 20px;
}

/* ul section 2 */
#sec2_div2 ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    float: right;
}
#sec2_div2 ul a:hover{
    color: #e08e8e;
}
#sec2_div2 ul{
    color: #868282c2;
    text-decoration: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

#sec2_div2 ul li{
    list-style: none;
}

/* images sections 2 */
#section2 img{
    /* width: 100%;
    height: 60vh; */
    width: 100%;
    height: 60vh;
}
/* ----------- mise ordres des images par catégories ---------- */
#sec2_imgsAll{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.sec2_carte img{
    border: 4px rgba(255, 255, 255, 0.521) solid;
    border-radius: 20px;
}
#arts{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    grid-row: auto;
    height: 60vh;
    overflow-y: scroll;
    margin: 40px 0 20px 0;
    overscroll-behavior: contain;
    /* display: none; */
}
#graphique, #photographie, #sérigraphie{
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    grid-row: auto;
    height: 60vh;
    overflow-y: scroll;
    margin: 40px 0px 20px 0;
    overscroll-behavior: contain;
    display: none;
}

#arts::-webkit-scrollbar{
    width: 8px;
}
#arts::-webkit-scrollbar-track{
    background-color: #181717;
}
#arts::-webkit-scrollbar-thumb{
    background-color: #e7dede;
    border-radius: 10px;
}
#arts::-webkit-scrollbar-thumb:hover{
    background-color: #88b1ee98;
    border-radius: 20px;
}
/* -------------------------------------------- */
#graphique::-webkit-scrollbar{
    width: 8px;
}
#graphique::-webkit-scrollbar-track{
    background-color: #181717;
}
#graphique::-webkit-scrollbar-thumb{
    background-color: #e7dede;
    border-radius: 10px;
}
#graphique::-webkit-scrollbar-thumb:hover{
    background-color: #88b1ee98;
    border-radius: 20px;
}
/* ---------------------------------------------------- */
#sérigraphie::-webkit-scrollbar{
    width: 8px;
}
#sérigraphie::-webkit-scrollbar-track{
    background-color: #181717;
}
#sérigraphie::-webkit-scrollbar-thumb{
    background-color: #e7dede;
    border-radius: 10px;
}
#sérigraphie::-webkit-scrollbar-thumb:hover{
    background-color: #88b1ee98;
    border-radius: 20px;
}
/* --------------------------------------------------------- */
#photographie::-webkit-scrollbar{
    width: 8px;
}
#photographie::-webkit-scrollbar-track{
    background-color: #181717;
}
#photographie::-webkit-scrollbar-thumb{
    background-color: #e7dede;
    border-radius: 10px;
}
#photographie::-webkit-scrollbar-thumb:hover{
    background-color: #88b1ee98;
    border-radius: 20px;
}
/* --------------------------------------------------------------- */

/* section 4 images */
#section4 img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

/* les classes  */
.s4_c1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}
.s4_c3{
    width: 200px;
    margin-top:30px;
}
.s4_c3 .spa1{
    font-size: 150%;
}
.s4_c3 .spa2{
    font-size: 95%;
}
.sec4_div2_2{
    width: 400px;
    height: 325px;
    background-color: #f5f5f534;
    border: 1px #f5f5f585 solid;
    padding: 20px;

}
.s4_c2{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.sec4_div2_2_2{
    background-color: #a8a8a83d;
}
#sec4_div2{
    display: flex;
    column-gap: 20px;
    width: 100%;
}
.sec4_div2_2{
    width: 100vw;
    height: auto;
}


/* footer */
footer{
    width: 85%;
    margin: auto;
    height: 15vh;
}

@media all and (max-width: 1220px){
    #sec1_div1_1 p{
        font-size: 16px;
    }
    #sec1_div1_1 h1{
        font-size: 30px;
    }
    #sec1_div2 img{
        width: 360px;
        height: 480px;
    }
    #sec2_div1 h2{
        font-size: 30px;
    }
    #sec2_div1 p{
        font-size: 16px;
    }
    #sec2_imgsAll div{
        height: 460px;
        width: 100%;
    }
    #arts, #graphique, #photographie, #sérigraphie{
        grid-template-columns: repeat(2, 1fr);
    }
    #sec3_div1 h2{
        font-size: 30px;
    }
    #sec3_div1 p{
        font-size: 16px;
    }
    #sec4_div1 h2{
        font-size: 30px;
    }
    .s4_c3{
        width: 100px;
        margin-top:20px;
    }
    .s4_c2{
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec4_div3{
        height: auto;
    }
    #sec4_div3 h3{
       font-size: 30px;
    }
    #sec4_div3 p{
       font-size: 16px;
    }
    #s4_P2{
        font-size: 18px;
    }
    #div_footer{
        height: auto;
        gap: 60px;
    }
    .div_footer0{
        height: auto;
        font-size: 40px;
    }
}

@media all and (max-width: 1150px){
    #sec1_div2 img{
        height: 460px;
    }
    #sec2_div2 span{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #sec2_div2 ul{
        float: normal;
        width: 100%;
    }
    #section3 p{
        font-size: 16px;
    }
    #section3{
        height: auto;
    }
}

/* responsive */
@media all and (max-width: 1024px) and (min-width: 888px) {
    #sec1_div1_1 p{
        font-size: 16px;
    }
    #sec1_div1_1 h1{
        font-size: 30px;
    }
    #sec1_div2 img{
        width: 360px;
        height: 480px;
    }
    #sec2_div1 h2{
        font-size: 30px;
    }
    #sec2_div1 p{
        font-size: 16px;
    }
    #sec2_imgsAll div{
        height: 460px;
        width: 100%;
    }
    #arts, #graphique, #photographie, #sérigraphie{
        grid-template-columns: repeat(2, 1fr);
    }
    #sec3_div1 h2{
        font-size: 30px;
    }
    #sec3_div1 p{
        font-size: 16px;
    }
    #sec4_div1 h2{
        font-size: 30px;
    }
    .s4_c3{
        width: 100px;
        margin-top:20px;
    }
    .s4_c2{
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec4_div3{
        height: auto;
    }
    #sec4_div3 h3{
       font-size: 30px;
    }
    #sec4_div3 p{
       font-size: 16px;
    }
    #s4_P2{
        font-size: 18px;
    }
    #div_footer{
        height: auto;
        gap: 60px;
    }
    .div_footer0{
        height: auto;
        font-size: 40px;
    }
    #sec1_div2 img{
        height: 460px;
    }
    #sec2_div2 span{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #sec2_div2 ul{
        float: normal;
        width: 100%;
    }
    #section3 p{
        font-size: 16px;
    }
    #section3{
        height: auto;
    }
  }

@media all and (max-width: 888px) {

    h1{
        font-size: 25px;
        width: 100%;
        text-align: center;
        margin: 2px 0 10px 0;
    }
    
    header{
        width: 100%;
        margin: 15px 0 0 0;
    }
    #ul1 a{
        display: none;
    }
    #menu{
        display: block;
        background-color: inherit;
        color: #FFF;
        font-size: 30px;
    }
    #logo1{
        line-height: 10px;
        font-size: 30px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    hr{
        display: none;
    }

    /* les images */
    #section1 img{
        width: 390px;
        height: 520px;
        /* margin: 4px 0 40px 0; */
    }
    
    /* les divs */
    #sec1_div1{
        display: flex;
        align-items: center;
        /* flex-direction: column; */
        text-align: center;
        width: 100%;
    }
    #sec1_div1 p{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        align-items: center;
        margin: 1% 10%;
        width: 80%;
        height: auto;
    }
    #sec1_div2{
        align-items: center;
        width: 80%;
        margin: 4% 10%;
    }
    #sec1_div{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 80px auto;
        text-align: center;
        /* justify-content: center; */
    }
    #sec1_d1_1{
        width: 100%;
        height: 300px;
    }

    #sec2_div1{
        width: 100%;
        text-align: center;
    }
    #sec2_div2 ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        font-size: 18px;
    }
    #sec3_div1{
        width: 100%;
        font-size: 30px;
        float: right;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec3_div2{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    #sec4_div1{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        margin-bottom: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec4_div2{
        display: flex;
        justify-content: space-between;
        width: 100%;
        border: 2px rgba(255, 255, 255, 0.274) solid;
        padding: 4px;
        overflow-x: hidden;
    }
    #sec4_div3{
        text-align: center;
        margin-top: 100px;
    }
    
    #div_footer{
        font-size: 30px;
        display: flex;
        gap: 40px;
        /* margin-top: 5%; */
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: auto;
    }
    #div_footer a{
        background-color: white;
        text-decoration: none;
        color: black;
        height: 60px;
        width: 60px;
        padding: 8px;
    }
    
    /* les sections */
    #section1{
        color: #FFF;
        height: 100vh;
        width: 100%;
        margin: auto;
    }
    #section2{
        color: #FFF;
        width: 100%;
        margin: auto;
        height: 90vh;
    }
    #section3{
        color: #FFF;
        width: 100%;
        margin: auto;
        height: 60vh;
        margin-top: 10px;
        text-align: center;
    }
    #section4{
        color: #FFF;
        width: 90%;
        margin: auto;
        height: auto;
        /* margin-bottom: 1px; */
        text-align: center;
    }
    
    #sec2_imgsAll div{
        height: 440px;
        width: auto;
    }
    /* les titres */
    
    #sec2_div1 h2{
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    #sec3_div1 h2{
        float: none;
        font-size: 25px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    
    #sec4_div3 h3{
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
        

    }
    #sec4_div1 h2{
        font-size: 20px; 
        margin: 1px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal; 
        float: none;
        width: 100%;
    }
    
    /* les paragraphes */
    #sec3_div2 p{
        font-size: 14px;
        /* font-size: 16px; */
    }
    #sec1_div1 #first_p{
        font-size: 22px;
    }
    #sec1_div1_1 p{
        font-size: 12px;
    }
    #sec4_div3 p{
        font-size: 12px;
        width: 100%;
        margin: auto;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec4_div3 #s4_P2{
        font-size: 25px;
        width: 40%;
        margin: auto;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    
    /* les buttons */
    
    #sec4_div3 button{
        width: 100%;
        height: 70px;
        background-color: #a8a8a84d;
        color: #FFF;
        font-size: 80%;
        margin-top: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec4_div3 button i{
        position: relative;
        top: 10px;
        font-size: 30px;
    }
    #sec4_div1 button{
        display: none;
    }
    #sec4_div1 span{
        position: relative;
    }
    #sec1_div1_1 button{
        color: #FFF;
        font-size: 20px;
        width: 170px;
        height: 48px;
        padding: 12px 16px;
        background-color: #b9b3b354;
        border: 1px #F8F8F8 solid;
        margin: 10px 0 0 0;
    }
    
    /* images sections 2 */
    #section2 img{
        width: 60vw;
        height: 50vh;
    }
    /* ----------- mise ordres des images par catégories ---------- */
    #sec2_imgsAll{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }
    #arts{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        grid-row: auto;
        height: 52vh;
        overflow-y: scroll;
        margin: 40px 0 20px 0;
    
        display: none;
    }
    #graphique{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        grid-row: auto;
        height: 52vh;
        overflow-y: scroll;
        margin: 40px 0px 20px 0;
        display: none;
    }
    #sérigraphie{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        grid-row: auto;
        height: 52vh;
        overflow-y: scroll;
        margin: 40px 0 20px 0;
        overscroll-behavior: contain;
        display: none;
    }
    #photographie{
        display: grid;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 12px;
        grid-row: auto;
        height: 52vh;
        overflow-y: scroll;
        margin: 40px 0 20px 0;
        /* display: none; */
    } 
    /* section 4 images */
    #section4 img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    
    /* les classes  */
    .s4_c1{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
    .s4_c3{
        width: 100px;
        position: relative;
        top: 20px;
        left: 10px;
    }
    .s4_c3 .spa1{
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;

    }
    .s4_c3 .spa2{
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .sec4_div2_2{
        width: 400px;
        height: 300px;
        background-color: #f5f5f534;
        border: 1px #f5f5f585 solid;
        padding: 20px;
    }
    .s4_c2{
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .sec4_div2_2_2{
        background-color: #a8a8a83d;
    }
    
    
    /* footer */
    footer{
        width: 100%;
        margin: 0;
        height: 15vh;
    }

    /* -------------------------------------- */
    #sec4_div2{
        display: flex;
        column-gap: 20px;
        overflow-x: scroll;
    }
    .sec4_div2_2{
        height: auto;
    }
    #sec4_div2::-webkit-scrollbar{
        width: 6px;
    }

    #sec4_div2::-webkit-scrollbar-thumb{
        background-color: #686151c2;
        border-radius: 50px;
    }
    #sec4_div2::-webkit-scrollbar{
        width: 10px;
    }

    /* ------------------------------------- */
    #sec1_div1 p{
        font-size: 16px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #sec2_div1 p{
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    #section4 h3{
        margin: 0;
    }
    #section4 button{
        font-size: 16px;
        height: 80px;
        width: auto;
    }
    footer{
        margin-top: 30px;
        font-size: medium;
    }
    footer hr{
        display: block;

    }
    #new{
        display: block;
        height: 40px;
    }
  } 

  @media all and (max-width: 888px) {
    #sec1_div1_1 p{
        font-size: 14px;
    }
    #sec1_div2 img{
        height: 30Opx;
    }
  }
  @media all and (max-width: 700px) {
    #sec1_div2 img{
        height: 28Opx;
    }
    #sec4_div3 p{
        font-size: 16px;
    }
    #s4_P2 a{
        font-size: 14px;
        width: 100%;
    }
    #s4_P2 i{
        font-size: 14px;
        width: 100%;
    }
    #s4_P2 button{
        width: 200px;
        height: auto;
    }
  }
  @media all and (max-width: 600px) {
    #sec1_div2 img{
        height: 18Opx;
    }
    #section2{
        height: auto;
    }
    #sec2_div1 h2{
        font-size: 20px;
    }

    #section3{
        height: 70vh;
    }
    #section2{
        height: 80vh;
    }
    #section1{
        height: 110vh;
    }
  }